.about-section {
    background-color: #FFFFFF;
    text-align: center;
    padding: 2% 15%;
}

.about-h2 {
    font-size: 45px;
    margin-bottom: 20px;
}

p {
    font-size: 18px;
    line-height: 1.6;
    margin-bottom: 20px;
}
