.letter-body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}
.container {
    display: flex;
    background-color: white;
    width: 80%;
    max-width: 1200px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}
.image-section {
    flex: 1;
    background: url('./Assets/kitchen.jpg') no-repeat center center;
    background-size: cover;
}
.text-section {
    flex: 1;
    padding: 40px;
    display: flex;
    flex-direction: column;
    justify-content: center;
}
.text-section h2 {
    font-size: 2rem;
    margin-bottom: 20px;
}
.text-section p {
    margin-bottom: 40px;
    color: #666;
}
.text-section form {
    display: flex;
}
.text-section input[type="email"] {
    padding: 10px;
    font-size: 1rem;
    border: 1px solid #ccc;
    border-radius: 4px 0 0 4px;
    flex: 1;
}
.text-section button {
    padding: 10px 20px;
    font-size: 1rem;
    color: white;
    background-color: #fbbd08;
    border: none;
    border-radius: 0 4px 4px 0;
    cursor: pointer;
}
.text-section button:hover {
    background-color: #e0a800;
}